.cs-header {
    position: relative;
    z-index: 2000;
}

.cs-header--fixed .cs-header__wrapp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    background-color: transparent;
}